body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header, footer {
    background-color: #006699;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul.nav-links, nav ul.auth {
    display: flex;
    justify-content: center; /* Aligns items for nav-links */
    flex-direction: column; /* Default for mobile */
    text-align: center; /* Centers text on mobile */
    width: 100%; /* Full width */
}

nav ul.auth {
    align-items: flex-end; /* Aligns authentication links to the right */
    color: #ffd700; /* Gold color for differentiation */
    margin-top: 10px; /* Space between navigation links and user greeting/login link */
}

nav ul li {
    display: block; /* Stacks items vertically */
    padding: 10px; /* Uniform padding */
    text-align: center; /* Ensures text is centered, useful for mobile */
}

a {
    color: #0044cc;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    width: 85%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 20px;
}

header a, footer a {
    color: white;
}

@media (max-width: 768px) {
    .container, nav, header, footer, main {
        width: 100%;
        padding: 0;
    }
    
    h1, h2, h3, body {
        font-size: 1.5em;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    nav ul {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    nav ul.is-visible {
        display: block;
    }
}

@media (max-width: 480px) {
    body, h1, h2, h3 {
        font-size: 1.2em;
    }

    nav a {
        padding: 10px;
    }
}
