body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header, footer {
    background-color: #006699;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;  /* Ensure no default browser margin is applied*/
    background-color: white;  /* Make sure the background is white*/
}

nav ul.nav-links {
    display: flex;
    justify-content: center;
}

nav ul.auth {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    color: #ffd700;
}

nav ul li {
    padding: 10px;
    text-align: center;
}

a {
    color: #0044cc;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    width: 85%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 20px;
}

header a, footer a {
    color: white;
}

/* Responsive adjustments for smaller screens */
@media only screen and (max-width: 768px) {
    .container, nav, header, footer, main {
        width: 100%;
        padding: 0;
    }

    header, footer {
        padding: 10px 0;
    }

    h1, h2, h3, body {
        font-size: 1.5em;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        padding: 10px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    nav ul {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    nav ul.is-visible {
        display: block;
    }
}
