footer {
    background-repeat: no-repeat; 
    background-size: cover; 
    text-align: center; 
    background-position: center center;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links li {
    margin: 10px;
}

.footer-link-item {
    text-align: center;
    margin: 10px;
}

.footer-thumbnail {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 5px;
}

.footer-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.footer-links a:hover {
    color: #007BFF;
}

footer p {
    color: #000;
}

.registerl {
    text-decoration: underline;
    color: rgb(253, 182, 3);
}

@media screen and (max-width: 768px) {

    footer {
        background-position: center center; /* Center the image on smaller screens */
        height: auto; /* Let the height adjust based on content */
    }

}