.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ffd700;
}

.search-bar {
    margin-bottom: 10px; /* Add some space between the search bar and user info */
    flex: 1; /* Allow search bar to grow */
    text-align: center; /* Center align on smaller screens */
}

.notifications {
    position: relative;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications-button {
    color: white;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.notifications-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 30px;
    background-color: white;
    color: black !important;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.notifications-dropdown a {
    font-size: 1.0em;
    color: black; /* Ensure links have black text */
}

.notifications-dropdown .notification {
    color: black; /* Ensure individual notifications have black text */
}

.notification {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.notification:last-child {
    border-bottom: none;
}

.notification:hover {
    background-color: #f9f9f9;
}

@media screen and (max-width: 768px) {

    header {
        background-position: center center; /* Center the image on smaller screens */
        height: auto; /* Let the height adjust based on content */
    }
    
    nav ul li {
        float: none;
    }

    nav ul.nav-links,
    nav ul.auth {
        float: none;
        width: 100%;
        text-align: center;
    }

    nav ul {
        display: block;
        overflow: hidden;
        max-height: 0;
        transition: max-height 2s ease-out;
        width: 100%;
    }

    nav ul.open {
        max-height: 100%;
    }

    nav ul li {
        display: block;
        text-align: center;
    }

    .logo {
        text-align: center;
        margin-bottom: 10px; /* Space between logo and other elements */
    }

    .header-content {
        flex-direction: column;
        align-items: center;
        text-align: center; /* Center content on smaller screens */
    }

    .user-info {
        align-items: center;
        text-align: center; /* Center user info on smaller screens */
    }

    .notifications {
        margin-left: 0;
        margin-top: 10px; /* Add space between notifications and other elements */
        justify-content: center; /* Center notifications icon */
    }

    .search-bar input[type="text"] {
        width: 80%; /* Adjust width for smaller screens */
    }

    .search-bar {
        width: 100%; /* Make search bar full width on smaller screens */
        margin-bottom: 20px; /* Increase margin for better spacing */
    }
}
