.sidebar {
    background-color: #f4f4f4;
    padding: 15px;
    border: 1px solid #ddd;
    margin: 0 0;
}

.sidebar h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.sidebar h4 {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    display: flex;
    margin-bottom: 10px;
}

.sidebar .thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
}

.sidebar a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.sidebar small {
    font-size: 14px;
    color: #777;
}

.view-all {
    display: block;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    background-color: red;
    color: white;
    text-decoration: none;
}

.view-all:hover {
    background-color: darkred;
}
